.App {
  text-align: center;
}

.section-padding {
  padding: 4rem 6rem;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url('./assets/curl.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}